

<p>
  <strong>Apellido y Nombre:</strong>
  <%= @cliente.apellido + ' ' +@cliente.apellido2 + ', ' + @cliente.nombres %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @cliente.tipodoc.descripcion + ' ' + @cliente.documento + ' de ' + @cliente.emisordoc.descripcion %>
</p>

<p>
  <strong>Persona de Contacto:</strong>
  <%= @cliente.contacto %>
</p>

<p>
  <strong>Ciiu:</strong>
  <%= @cliente.ciiu.cod_desc[0..60] %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente), :class=>'btn btn-warning' %> |
<%= link_to 'Back', clientes_path, :class=>'btn btn-secondary' %>
<%= link_to 'Add Cuenta', {:controller=> :cuentas, :action => :new, :cliente_id => @cliente.id } ,:class=>'btn btn-secondary' %>