<p class="showitem">
  <strong>Pais: <%= link_to @municipio.departamento.provincia.pais.nombre, pais_path(@municipio.departamento.provincia.pais) %> - </strong>
  <strong>Provincia: <%= link_to @municipio.departamento.provincia.nombre, provincia_path(@municipio.departamento.provincia) %> - </strong>
  <strong>Departamento: <%= link_to @municipio.departamento.nombre, departamento_path(@municipio.departamento) %></strong>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @municipio.nombre %>
</p>

<%= link_to 'Edit', edit_municipio_path(@municipio), :class=>'btn btn-warning' %>

<%= render 'localidades/list' %>