<%= form_with(model: bonificacion, local: true) do |form| %>
  <% if bonificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bonificacion.errors.count, "error") %> prohibited this bonificacion from being saved:</h2>

      <ul>
      <% bonificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :edesal_id %>
    <%= form.number_field :edesal_id, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :linea %>
    <%= form.number_field :linea, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :porcentaje %>
    <%= form.text_field :porcentaje, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :fdesde %>
    <%= form.date_select :fdesde, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :fhasta %>
    <%= form.date_select :fhasta, :class=>'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-danger' %>
  </div>
<% end %>
