<p class="showitem">
  <strong>Pais: <%= link_to @departamento.provincia.pais.nombre, pais_path(@departamento.provincia.pais) %> - </strong>
  <strong>Provincia: <%= link_to @departamento.provincia.nombre, provincia_path(@departamento.provincia) %></strong>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @departamento.nombre %>
</p>

<%= link_to 'Edit', edit_departamento_path(@departamento), :class=>'btn btn-warning' %>

<%= render 'municipios/list' %>