<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @documento.file %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @documento.descripcion %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento), :class=>'btn btn-warning' %> |
<%= link_to 'Back', documentos_path, :class=>'btn btn-secondary' %>
