<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pais.nombre %>
</p>

<%= link_to 'Edit', edit_pais_path(@pais), :class=>'btn btn-warning' %> |
<%= link_to 'Back', paises_path, :class=>'btn btn-secondary' %>

<%= render 'provincias/list' %>