<%= form_with(model: barrio, local: true) do |form| %>
  <% if barrio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrio.errors.count, "error") %> prohibited this barrio from being saved:</h2>

      <ul>
      <% barrio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= 'Localidad: ' + barrio.localidad.nombre %>
    <%= form.hidden_field :localidad_id, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, :class=>'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-danger' %>
  </div>
<% end %>
