<%= form_with(model: provincia, local: true) do |form| %>
  <% if provincia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provincia.errors.count, "error") %> prohibited this provincia from being saved:</h2>

      <ul>
      <% provincia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= 'Pais: '+ provincia.pais.nombre.capitalize %>
    <%= form.hidden_field :pais_id, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, :class=>'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-danger' %>
  </div>
<% end %>
