<%= form_with(model: cuenta, local: true) do |form| %>
  <% if cuenta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cuenta.errors.count, "error") %> prohibited this cuenta from being saved:</h2>

      <ul>
      <% cuenta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  Cuenta nueva para: <strong><%= @cliente.nombre_completo %></strong>

  <div class="form-group">
    <%= form.hidden_field :cliente_id, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Dirección Postal" %>
    <%= form.number_field :dirpostal_id, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de Pago" %>
    <%= form.collection_select(:tpago_id, Enumerado.where("radical = 'tpago' ").order(:descripcion), :id, :descripcion, {}, { :class=>'form-control' } ) %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de Gestión por Impago" %>
    <%= form.collection_select(:timpagado_id, Enumerado.where("radical = 'timpagado' ").order(:descripcion), :id, :descripcion, {}, { :class=>'form-control' } ) %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de Vencimiento" %>
    <%= form.collection_select(:tvencimiento_id, Enumerado.where("radical = 'tvcto' ").order(:descripcion), :id, :descripcion, {}, { :class=>'form-control' } ) %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de Envío" %>
    <%= form.collection_select(:tenvio_id, Enumerado.where("radical = 'tenvio' ").order(:descripcion), :id, :descripcion, {}, { :class=>'form-control' } ) %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-danger' %>
  </div>
<% end %>