<%= form_with(model: calle, local: true) do |form| %>
  <% if calle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calle.errors.count, "error") %> prohibited this calle from being saved:</h2>

      <ul>
      <% calle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= 'Barrio: ' + calle.barrio.nombre %>
    <%= form.hidden_field :barrio_id, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, :class=>'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-danger' %>
  </div>
<% end %>
